workspace/projects/mesh-red-ping-service/flows.json
[
    {
        "id": "f150cfd5.8db36",
        "type": "tab",
        "label": "API endpoints",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bdb9d860.eebc98",
        "type": "http in",
        "z": "f150cfd5.8db36",
        "name": "",
        "url": "/ping",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "ec777f74.9d67"
            ]
        ]
    },
    {
        "id": "ec777f74.9d67",
        "type": "function",
        "z": "f150cfd5.8db36",
        "name": "ping response",
        "func": "msg.payload = {\n    message: \"Ping response\",\n    timestamp: new Date()\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 140,
        "wires": [
            [
                "e33afafb.01dee8"
            ]
        ]
    },
    {
        "id": "e33afafb.01dee8",
        "type": "http response",
        "z": "f150cfd5.8db36",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "c488b025.bbe47",
        "type": "comment",
        "z": "f150cfd5.8db36",
        "name": "HTTP GET endpoint, will response with 200 OK and message",
        "info": "This is a simple HTTP endpoint. The response will be 200 OK with a standard message and timestamp. \nAll request parameters are copied over.",
        "x": 260,
        "y": 80,
        "wires": []
    },
    {
        "id": "a1af0c6.16305f",
        "type": "http in",
        "z": "f150cfd5.8db36",
        "name": "",
        "url": "/extract-text",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "f4bb59be.daa948"
            ]
        ]
    },
    {
        "id": "51438644.3b2988",
        "type": "http response",
        "z": "f150cfd5.8db36",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 240,
        "wires": []
    },
    {
        "id": "f4bb59be.daa948",
        "type": "json",
        "z": "f150cfd5.8db36",
        "name": "parse json body",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 300,
        "y": 340,
        "wires": [
            [
                "f85bf66b.0259d8"
            ]
        ]
    },
    {
        "id": "541da1d6.d6f6a",
        "type": "function",
        "z": "f150cfd5.8db36",
        "name": "create response object",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 660,
        "y": 340,
        "wires": [
            [
                "51438644.3b2988"
            ]
        ]
    },
    {
        "id": "f85bf66b.0259d8",
        "type": "http request",
        "z": "f150cfd5.8db36",
        "name": "post to Anyline webAPI",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://webapi.svc.cluster.local:8080",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 490,
        "y": 240,
        "wires": [
            [
                "541da1d6.d6f6a"
            ]
        ]
    }
]